% rebase('base.html', title='Create post')

<h1 class="lead my-4">Create new post</h1>

<div class="card">
    <div class="card-header">
        <h3 class="lead">Create post</h3>
    </div>

    <div class="card-body border-bottom py-3">
        <form method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <sup>title</sup>
                <input required class="form-control" type="text" name="title" />
            </div>
            <div class="mb-3">
                <sup>story</sup>
                <input required class="form-control" type="text" name="story" />
            </div>

            <div class="form-control mb-3">
                <sup>category</sup>
                <input type="text" name="category" />
                <input type="file" name="upload" />
            </div>

            <input
                class="btn btn-sm my-2 btn-outline-primary"
                value="submit"
                type="submit"
            />
        </form>
    </div>
</div>
